# EDA, Missingness

In [2]:
# import packages
import pandas as pd
import numpy as np

In [3]:
working_dir = "../20_intermediate_files/"
final = working_dir + "analysis_df.csv"
final_df = pd.read_csv(final)

In [8]:
final_df.shape

(13507, 10)

In [11]:
final_df.columns

Index(['county_name', 'state', 'year', 'fips', 'merge_key', 'drug_deaths',
       'drug_quantity', 'population', 'death_rate', 'ship_rate'],
      dtype='object')

In [21]:
# missing by nature due to out of year range
ship_missing_oor = final_df[(final_df["year"]<2006)|(final_df["year"]>2014)]["ship_rate"].isna().sum()
ship_missing_oor

4156

In [20]:
# missing count for ship rate
ship_missing_all = final_df["ship_rate"].isna().sum()
ship_missing_all

4560

In [19]:
ship_missing_all-ship_missing_oor

404

In [22]:
# missing count for death rate
death_missing_all = final_df["death_rate"].isna().sum()
death_missing_all

10443

In [ ]:
# missing by nature due to out of year range

In [13]:
final_df["death_rate"].describe()

count    3064.000000
mean       13.798237
std         7.629654
min         0.803562
25%         8.615481
50%        12.238676
75%        17.077704
max        96.904040
Name: death_rate, dtype: float64

In [14]:
final_df.head(5)

,county_name,state,year,fips,merge_key,drug_deaths,drug_quantity,population,death_rate,ship_rate
0,"AUTAUGA COUNTY, AL",AL,2003,1001,10012003,NaN,NaN,54571,NaN,NaN
1,"AUTAUGA COUNTY, AL",AL,2004,1001,10012004,NaN,NaN,54571,NaN,NaN
2,"AUTAUGA COUNTY, AL",AL,2005,1001,10012005,NaN,NaN,54571,NaN,NaN
3,"AUTAUGA COUNTY, AL",AL,2006,1001,10012006,NaN,20569.0,54571,NaN,37692.180829
4,"AUTAUGA COUNTY, AL",AL,2007,1001,10012007,NaN,12550.0,54571,NaN,22997.562808

In [23]:
final_df.describe()

,year,fips,merge_key,drug_deaths,drug_quantity,population,death_rate,ship_rate
count,13507.000000,13507.000000,1.350700e+04,3064.000000,8.947000e+03,1.350700e+04,3064.000000,8947.000000
mean,2009.000000,29591.052936,2.959125e+08,59.366841,3.360536e+04,1.414482e+05,13.798237,21829.621218
std,3.741796,17158.218214,1.715822e+08,91.901926,1.025787e+05,4.637375e+05,7.629654,14424.747126
min,2003.000000,1001.000000,1.001200e+07,10.000000,1.000000e+00,8.200000e+01,0.803562,11.044842
25%,2006.000000,13107.000000,1.310720e+08,14.000000,2.235500e+03,1.322800e+04,8.615481,12748.386435
50%,2009.000000,35051.000000,3.505120e+08,24.000000,7.494000e+03,2.987200e+04,12.238676,20018.785957
75%,2012.000000,48067.000000,4.806720e+08,59.000000,2.333350e+04,8.557900e+04,17.077704,28532.558396
max,2015.000000,53077.000000,5.307720e+08,862.000000,2.249988e+06,9.818605e+06,96.904040,354675.922092

In [27]:
# number of counties in total
len(final_df["county_name"].unique())

1039

In [31]:
# number of states in total
len(final_df["state"].unique())

14